*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: rgb(250, 135, 3);

}

a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

h3{
    color: rgba(0, 0, 0, 0.432);
    font-style: italic;
    text-align: center;
}

/* HEADER*/
.nav{
    background-color: black;
    height: 80px;
    color: #fff;

}

.navContainer{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    font-family: 'Dancing Script', cursive;
    color: #ff5400;
}

.navMenu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.navItem{
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navItem::after{
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.navItem:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navLabel, .navInput{
    display: none;
}

@media (max-width:1000px){
    
    .navLabel{
        display: block;
        cursor: pointer;
    }
    
    .navMenu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #ff5400;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .navInput:checked + .navMenu{
        clip-path: circle(100% at center);
    }
}


/* NUESTRO PROCESO */

.contenedor{
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    justify-content: center;

}


.contenedor div span{
    font-size: 40px;
}

.contenedor div h3{
    font-size: 17px;
    text-align: left;
    color: #222222;
    margin-bottom: 14px;
    letter-spacing: 0.5px;
}

.contenedor div p{
    color: rgba(0, 0, 0, 0.432);
    letter-spacing: 0.5px;
    margin-bottom: 30px;

}

.contenedor div a{
    color: #ff5400;
}



@media screen and (max-width: 1024px) {
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    
}

@media screen and (max-width: 960px) {
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .contenedor div span{
        display: flex;
        padding: 3px;
        font-size: 40px;
        justify-content: center;
    }
    
    .contenedor div h3{
        font-size: 17px;
        text-align: left;
        color: #222222;
        margin-bottom: 14px;
        letter-spacing: 0.5px;
        text-align: center;
    }
    
    .contenedor div p{
        color: rgba(0, 0, 0, 0.432);
        letter-spacing: 0.5px;
        margin-bottom: 30px;
        text-align: center;
    
    }
    
    .contenedor div a{
        color: #ff5400;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 , 1fr);
        justify-content: center;
    }

    .contenedor div span{
        display: flex;
        padding: 3px;
        font-size: 40px;
        justify-content: center;
    }
    
    .contenedor div h3{
        font-size: 17px;
        text-align: left;
        color: #222222;
        margin-bottom: 14px;
        letter-spacing: 0.5px;
        text-align: center;
    }
    
    .contenedor div p{
        color: rgba(0, 0, 0, 0.432);
        letter-spacing: 0.5px;
        margin-bottom: 30px;
        text-align: center;
    
    }
    
    .contenedor div a{
        color: #ff5400;
        display: flex;
        justify-content: center;
    }
}


/* VEHICULOS DESTACADOS */

.container{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

}

.container h3{
    text-align: left;
    color: black;
}

.container p{
    color: gray;
}

.item{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0;
    transition: all 300ms;
    position: relative;
}

.item::after{
    content:"";
    background-color: rgba(179, 229, 252, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;

}

.item:hover:after{
    opacity: 1;
    transform: scale();

}

.item:hover{
    transform: scale(1.05);
}

.itemText{
     padding: 1em;
}



.itemImg{
    max-width: 100%;
    display: block;

}

/* VEHICULOS DESTACADOS MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 960px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
}


/* PROPIEDADES PARA TEXTOS */

 .titulo{
     color: black;
     font-weight: normal;
     font-family: 'Hind Siliguri', sans-serif;
     font-size: 40px;
     text-align: center;
 }


 .centrar{
     text-align: center;
 }

 .negrita{
     color: black;
     font-weight: bold;
 }

 .tamaño{
     font-size: 40px;
 }

 .cursiva{
     color: rgba(0, 0, 0, 0.432);
     font-style: italic;
 }


/* PROPIEDADES PIE DE PAGINA */

 footer{
    width: 100%; 
    background: #202020;
    color: white;

 }

 .container-footer-all{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     padding: 40px; 
    }


.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
    
}

.column1 h1{
    font-size: 22px;
}

.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    max-width: 400px;
}

.column2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;

}

.row img{
    width: 34px;
    height: 34px;

}

.row label{
    margin-top: 5px;
    margin-left: 10px;
    color: #c7c7c7;
}

.column3{
    max-width: 400px;

}

.column3 h1{
    font-size: 22px;

}

 .row2{
     margin-top: 20px;
     display: flex;
 }

 .row2 img{
     width: 36px;
     height: 36px;
 }

.row2 label{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;

}

@media screen and (max-width: 1024px) {
    .container-body{
        flex-wrap: wrap;
    }

    .column1{
        max-width: 100%;
    }

    .column2, .column3{
        margin-top: 40px;
    }


}


