.bienvenidos{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.info{
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.marco{
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    justify-content: center;

}

.marcoItem{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                span{
                    color: orangered;
                    font-family: sans-serif;
                }

                p{
                    color: black;

                }
    }